/* Required antd styles */
@import '~antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles for the sidebar */
.ant-layout-sider {
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}


.ant-menu-dark.ant-menu-inline .ant-menu-item {
    margin: 4px 8px;
    border-radius: 6px;
}

.ant-drawer-content-wrapper {
    box-shadow: none !important;
}